/* style of header */
.tab{
    width: 50% ;
    height: 50px;
}
/* style of buttons in ordinary case*/
button{
    width: 21% ;
    height: 100% ;
    border-radius: 15% ;
    margin: 1px;
    cursor: pointer ;
    padding: 10px;
    float: left ;
    background-color: aliceblue;   
}

/* style of style of sections*/
.tabcontent{
    height: 85 % ;
    text-align: left;
    padding-top: 105px;box-sizing: border-box;
    color: dimgray ;

}
/*style of buttons when click on */
button:hover{
    background-color: deepskyblue ;
    color: aliceblue ;
}
/* style of buttons when the mouse toutch it*/
 button:active{
    background-color:darkgray ;
     color: aliceblue ;
     

}
